<div class="container">
  <div *ngIf="outcome; else lose" id="winner" class="col-8 justify-content-center">
    <h2>Pobeda!!!!</h2>
    <input id="pointswin" type="text" value="broj poena: {{pointswin}}" disabled>
    <button [routerLink]="['/user']">Vrati se u meni</button>
    <!-- ovaj button je samo za testiranje -->
    <!--<button (click)="onSetPoints()">Postavi poene</button>-->
  </div>
  <ng-template #lose>
    <div id="loser" class="col-8 justify-content-center">
      <h2>Poraz! :( Više sreće drugi put...</h2>
      <input id="points" type="text" value="broj poena: {{points}}" disabled>
      <button [routerLink]="['/user']">Vrati se u meni</button>
    </div>
  </ng-template>
</div>


