<div *ngIf="currentNumberOfPlayersInRoom === reuiredNumberOfPlayersForGame; else wait">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg text-center" *ngFor="let board of boards; let i = index">
        <h5>
          Igrač {{ board.player.id }}
          <span  *ngIf="i == player">(Ti)</span>
          <span  *ngIf="i !== player">(Protivnik)</span>
          // <strong>Rezultat: {{ board.player.score }}</strong>
        </h5>
        <app-board [board]="board" [i]="i" [player]="player"></app-board>
      </div>
    </div>
  </div>
</div>
<ng-template #wait>
  <app-waiting></app-waiting>
</ng-template>
