.user{
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    }
    
.button{
      border:0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #c72323;
      padding: 14px 40px;
      width: 200px;
      outline: none;
      color: black;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }
    
    .button:hover{
      background: chocolate;
    }
    
    .user h1{
     color: chocolate;
     font-weight: 500;
    }