<table [style.opacity]="(i == player || (i != player && !canPlay)) ? 0.5 : 1">
  <tr *ngFor="let row of board.cells; let j = index">
    <td *ngFor="let col of row; let k = index"
        (click)="(i !== player && col.value == 'sea') ? emitCoordinates($event) : ''"
        [style.cursor]="(i !== player && col.value == 'sea') ? 'pointer' : 'default'"
        [class.ship]="col.value == 'ship'"
        [class.sea]="col.value == 'sea'"
        [class.lock]="col.value == 'lock'"
        [class.hitSea]="isSeaHit(col)"
        [class.hitShip]="isShipHit(col)"
        class="battleship-tile"
        id="t{{i}}{{j}}{{k}}"
    >
      {{col.status}}
    </td>
  </tr>
</table>
