.battleship-tile {
  color: black!important;
}
.ship {
  background-color: #23d160;
  color: #fff;
}
.sea {
  background-color: #ff3860;
  color: #fff;
}
.lock {
  background-color: grey;
  color: #fff;
}
.hitSea{
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}
.hitShip {
  background: repeating-linear-gradient(
    -55deg,
    #666,
    #666 10px,
    #777 10px,
    #777 20px
  );
}
table {
  margin: 0 auto;
}
tr:hover {
  background-color: transparent;
}
th, td {
  border: 1px solid #dbdbdb;
  padding: 0.75em 0.75em;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  text-align: center;
}
