.battleship-tile {
  color: black!important;
}
.ship {
  background-color: #23d160;
  color: #fff;
}
.sea {
  background-color: #ff3860;
  color: #fff;
}
.lock {
  background-color: grey;
  color: #fff;
}
table {
  margin: 0 auto;
}
tr:hover {
  background-color: transparent;
}
th, td {
  border: 1px solid #dbdbdb;
  padding: 0.75em 0.75em;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  text-align: center;
}
