.battleship-tile {
  color: #DD4B1A!important;
}
.ship {
  background-color: #DD4B1A;
  color: #fff;
}
.sea {
  background-color: #F0F0F0;
  color: #fff;
}
.lock {
  background-color: #989C8F;
  color: #fff;
}
.hitSea{
  background: repeating-linear-gradient(
    -55deg,
    rgb(67, 65, 65),
    rgb(67, 65, 65)10px,
    rgb(160, 157, 157) 10px,
    rgb(160, 157, 157) 20px
  );
}
.hitShip {
  background: repeating-linear-gradient(
    -55deg,
    #DD4B1A,
    #DD4B1A 10px,
    rgba(150, 45, 13, 0.85) 10px,
    rgba(150, 45, 13, 0.85)20px
  );
}
table {
  margin: 0 auto;
}
tr:hover {
  background-color: transparent;
}
th, td {
  border: 1px solid #DD4B1A;
  padding: 0.75em 0.75em;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  text-align: center;
}
